.first{
    background-color: blue;
    padding: 5px;

}
li{
    display: inline-block;
    margin: 2px 20px 2px 20px;
    text-align: center;
    color: white;
}
button{
    color: green;
    border: 1px solid green;
}
td{
    margin: 2px 5px 2px 5px;
    padding: 20px;
}
td:hover{
    color: blue;
   
}
H1{
    color: green;
    text-align: center;
}
p{
    padding: 10px;
    margin-left: 120px;
    margin-right: 80px;
}
.third{
    background-color: blue;
}
.four{
    color: white;
    padding: 10px;
    font-size: large;
    margin-left: 50px;
}